<h1> Teste banco Angular 13 </h1>

<p>New Cars</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/31kplxJn6nw?si=FA8FlrGs-DOKz721"
  title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  <app-first-component></app-first-component>
  <app-parent-data [name]="userName" [userData] ="userData"></app-parent-data>

